window {
    transparency:   "real";
    location:       northeast;
    anchor:         northeast;
    x-offset:       -8px;
    y-offset:       50px;

    width: 330px;
    padding: 10px;
    border-radius: 12px;
    border: 2px;
    border-color: #F0C674FF;
    background-color: #282A2EFF;
}

textbox {
    font: "JetBrains Mono Nerd Font 12";
    text-color: #F0C674FF;
    background-color: #282A2EFF;
}
